{#
Modal component (markup only)
Usage:
{% from 'components/modal.html' import modal %}
{{ modal(id='confirmDelete', title='Potwierdź', body='Czy na pewno?', size='') }}

Parameters:
- id: unique element id (required)
- title: modal header title
- body: modal body content (markup allowed)
- size: optional bootstrap modal-dialog size class: 'modal-sm', 'modal-lg', 'modal-xl' or ''

Note: Bootstrap's JS is required to trigger/show modals; this component only provides markup.
#}

{% macro modal(id, title='', body='', size='') -%}
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog {{ size }}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
            </div>
            <div class="modal-body">
                {{ body }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary">Zatwierdź</button>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}