<form method="post" action="{{ action_url }}" class="js-modal-form" data-entity="customer">
    <div class="modal-header">
        <h5 class="modal-title">{{ modal_title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
    </div>
    <div class="modal-body">
        {{ form.hidden_tag() }}

        <div class="row g-3">
            <div class="col-md-6">
                {{ form.customer_type.label(class="form-label") }}
                {{ form.customer_type(class="form-select") }}
                {% if form.customer_type.errors %}
                <div class="form-text text-danger">{{ form.customer_type.errors[0] }}</div>
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ form.full_name.label(class="form-label") }}
                {{ form.full_name(class="form-control") }}
                {% if form.full_name.errors %}
                <div class="form-text text-danger">{{ form.full_name.errors[0] }}</div>
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ form.short_name.label(class="form-label") }}
                {{ form.short_name(class="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                {% if form.email.errors %}
                <div class="form-text text-danger">{{ form.email.errors[0] }}</div>
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ form.first_name.label(class="form-label") }}
                {{ form.first_name(class="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.last_name.label(class="form-label") }}
                {{ form.last_name(class="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.nip.label(class="form-label") }}
                {{ form.nip(class="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.phone.label(class="form-label") }}
                {{ form.phone(class="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.city.label(class="form-label") }}
                {{ form.city(class="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.postal_code.label(class="form-label") }}
                {{ form.postal_code(class="form-control") }}
            </div>
            <div class="col-12">
                {{ form.notes.label(class="form-label") }}
                {{ form.notes(class="form-control", rows=3) }}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary">Zapisz klienta</button>
    </div>
</form>
