<form method="post" action="{{ url_for('orders.add_order_part_usage', order_id=order.id) }}" class="js-order-part-form">
    {{ part_usage_form.hidden_tag() }}
    <div class="row g-3">
        <div class="col-md-6">
            {{ part_usage_form.part_id.label(class="form-label") }}
            {{ part_usage_form.part_id(class="form-select", id="order_part_id") }}
            {% if part_usage_form.part_id.errors %}
            <div class="form-text text-danger">{{ part_usage_form.part_id.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="col-md-3">
            {{ part_usage_form.quantity.label(class="form-label") }}
            {{ part_usage_form.quantity(class="form-control", step="0.001", min="0.001") }}
            {% if part_usage_form.quantity.errors %}
            <div class="form-text text-danger">{{ part_usage_form.quantity.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="col-md-3">
            {{ part_usage_form.unit_net_price.label(class="form-label") }}
            {{ part_usage_form.unit_net_price(class="form-control", step="0.01", min="0") }}
            {% if part_usage_form.unit_net_price.errors %}
            <div class="form-text text-danger">{{ part_usage_form.unit_net_price.errors[0] }}</div>
            {% endif %}
        </div>
    </div>
    <div class="mt-3">{{ part_usage_form.submit(class="btn btn-primary") }}</div>
</form>

<script type="application/json" id="order-part-price-map">{{ part_price_map | tojson }}</script>
<script type="application/json" id="order-part-vat-map">{{ part_vat_map | tojson }}</script>
