* {
    box-sizing: border-box;
}


body {

    margin:0;

    font-family:
    "Segoe UI",
    Arial,
    sans-serif;

    background:#F5F7FA;

    color:#333;

}



.topbar {


    height:65px;

    background:#1F3A5F;

    color:white;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 30px;


}



.logo {

    font-size:26px;

    font-weight:700;

}



.user a {

    color:white;

    text-decoration:none;

    margin-left:20px;

}



.layout {

    display:flex;

}



.menu {

    width:240px;

    min-height:calc(100vh - 65px);

    background:white;

    padding:20px;


}



.menu a {

    display:block;

    padding:14px;

    margin-bottom:8px;

    color:#1F3A5F;

    text-decoration:none;

    border-radius:8px;

}



.menu a:hover {

    background:#E8F0FE;

}



.content {

    flex:1;

    padding:35px;

}

.login-body {

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#F5F7FA;

}



.login-box {

    width:380px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,0.12);

    text-align:center;

}



.login-box h1 {

    color:#1F3A5F;

    font-size:34px;

}



.login-box p {

    color:#777;

    margin-bottom:30px;

}



.login-box label {

    display:block;

    text-align:left;

    margin-top:15px;

}



.login-box input {


    width:100%;

    padding:12px;

    margin-top:5px;

    border:1px solid #ddd;

    border-radius:8px;

}



.login-box button {


    width:100%;

    margin-top:30px;

    padding:13px;

    border:0;

    border-radius:8px;

    background:#1976D2;

    color:white;

    font-size:16px;

    cursor:pointer;

}



.login-box button:hover {

    background:#1258A0;

}