{% extends "base.html" %}

{% block title %}SerwisPRO - Logowanie{% endblock %}

{% block body_class %}login-body{% endblock %}

{% block body_content %}


    <div class="login-box">


        <h1>
            SerwisPRO
        </h1>


        <p>
            System obsługi punktów serwisowych
        </p>


        <form method="POST">


            <label>
                Login
            </label>


            <input type="text" name="login" placeholder="Wpisz login">



            <label>
                Hasło
            </label>


            <input type="password" name="password" placeholder="Wpisz hasło">



            <button type="submit">
                Zaloguj
            </button>


        </form>


    </div>

    <div class="login-footer">

        <div class="producer">

            Producent oprogramowania

            <strong>ACES Projekt Sp. z o.o.</strong>

        </div>

        <div class="links">

            <a href="https://acesprojekt.pl" target="_blank">
                www.acesprojekt.pl
            </a>

            |

            <a href="https://minias.pl" target="_blank">
                www.minias.pl
            </a>

        </div>

    </div>

{% endblock %}